.silhouette {
  border: 1px solid black;
  border-radius: 1rem;
  width: 20%;
  height: 50vh;
}
html{
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.mainImage{
  display: flex;
  background-color: black;
  height: 80vh;
  top: 10vh;
  z-index: -5;
  position:absolute;
  width: 100vw;
}
.main-container{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.article {
  border: 1px solid black;
  border-radius: 1rem;
  width: 15vh;
  height: 20vh;
  margin: 0;
  padding: 0;
}

.fitting-room {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow: none;
}

.measurement-form {
  display: flex;
  flex-direction: column;
  width: 10rem;
}

.clothing {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width: 90vh;
  height: 50vh;
  gap: 15px;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid red;
  overflow: scroll;
  row-gap: 0;
}

.x {
  display: flex;
  justify-content: space-between;
}

.x > * {
  margin: 10px 10px;
}

navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.logo {
  width: 120px;
}

.right-nav {
  display: flex;
}

.links {
  list-style-type: none;
  display: flex;
  font-size: small;
}

.links > * {
  margin-left: 25px;
  font-weight: bold;
}

.search-bar > span {
  position: absolute;
  z-index: 1;
}

.search-bar > input {
  width: 13rem;
}

.icons{
  margin-right: 60px;
}

.vfButton{
display: flex;
background-color: black;
position: absolute;
flex-direction: row;
right: 1%;
width: 100px;
height: 28px;
top: 20px;
color: white;
justify-content: center;
align-items: center;
z-index: 5;
}
/*home*/
.home {
  display: flex;
  width: fit-content;
  height: 85vh;
  width: 100%;
  font-size: 100px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  /* background-color: black; */
  background-image: url("https://static01.nyt.com/images/2012/07/25/business/ADCO-1/ADCO-1-superJumbo.jpg");
  background-size: cover;
  background-position: top;
  opacity: 0.8;
}
.container {
  display: inline-block;
}

.typed-out {
  overflow: hidden;
  border-right: 0.1em solid coral;
  white-space: nowrap;
  height: fit-content;

  animation: typing 3s steps(20, end) infinite,
    blink-caret 0.7s step-end infinite;
  /* animation-delay: -5s; */
  font-size: 15rem;
  width: 0;
  color: rgb(255, 255, 255);
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.titleWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

span {
  color: rgb(245, 190, 38);
  opacity: 1;
}

.homeCover {
  display: flex;
  width: 100%;
  height: 90%;
  /* filter: sepia(0.5) grayscale(1); */
  position: absolute;
  opacity: 0.8;
  z-index: -1;
}
@keyframes createBox {
  from {
    width: 0px;
    height: 0px;
    opacity: 1;
  }
  to {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}
@keyframes slide-up {
  from {
    margin-top: 100%;
  }
  to {
    margin-top: 0%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(247, 5, 5);
  }
}
/*Home*/

@media only screen and (max-width: 600px) {
  .typed-out {
    font-size: 5rem;
  }
  .home{
font-size: 5rem;
  }
}